.container {
	background-color: $dark-grey;
	margin: 0 1rem;
	padding: 0.5rem;

	border-style: solid;
	border-color: white;
	border-width: 0 1px;

	color: white;

	> * {
		margin-bottom: 1.5rem;
	}

	iframe {
		width: 100%;
	}
}
