.container {
	font: inherit;
	display: flex;
	align-items: center;
	overflow: visible;
	margin: 0;
	padding: 1rem 0 1rem 1rem;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: 0.15s;
	transition-property: opacity, filter;
	text-transform: none;
	color: inherit;
	border: 0;
	background-color: transparent;
}

.outer {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 20px;
}

.inner {
	position: absolute;
	width: 32px;
	height: 2px;
	top: auto;
	bottom: 0;
	transition-delay: 0.13s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-duration: 0.13s;
	transition-property: transform;
	border-radius: 4px;
	background-color: #fff;

	&::before {
		@extend .inner;
		content: '';
		top: -10px;
		transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
			transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	&::after {
		@extend .inner;
		content: '';
		bottom: -10px;
		top: -20px;
		transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
	}
}

.innerActive {
	@extend .inner;
	background-color: $dark-grey;
	transition-delay: 0.22s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: translate3d(0, -10px, 0) rotate(-45deg);

	&::before {
		background-color: $dark-grey;
		top: 0;
		transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s,
			transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
		transform: rotate(-90deg);
	}
	&::after {
		background-color: $dark-grey;
		top: 0;
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
		opacity: 0;
	}
}
