.container {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	position: sticky;
	top: 1rem;
	height: 2rem;
	z-index: 1;

	h2 {
		font-size: 1.25rem;
	}
}

.containerPage {
	display: flex;
	margin: 0 1rem;

	border-style: solid;
	border-color: white;
	border-width: 0 1px;

	padding: 0.5rem;
}

.partnerLink {
	background-color: black;
	border-radius: 0.5rem;
	color: white;
	font-weight: bold;
	padding: 0rem 1rem;
}
