.container {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	width: 100%;

	h2 {
		font-size: 1.25rem;
	}
}

.partnerLink {
	background-color: black;
	border-radius: 0.25rem;
	color: white;
	font-weight: bold;
	padding: 0.125rem 1rem;
}
