.container {
	min-height: 100vh;
	background-color: $dark-grey;
	padding: 0rem;

	margin: auto;

	color: white;
	position: relative;

	// @media screen and (min-width: $media-lg) {
	// 	padding: 2rem;
	// }
}

.gridContainer {
	@extend .container;
	// background-color: white;
	// color: black;
	padding: 0;
}

.addTop {
	top: 4rem;
}

.postContainer {
	@extend .container;
	padding: 1rem;
	max-width: $media-sm;
	// border: 1px solid white;
	// margin: 0 1rem;
}

.blurred {
	filter: blur(8px);
	transition: 0.3 ease-in;
}
