.container {
	min-height: 100vh;
	background-color: $dark-grey;
	padding: 1rem;

	color: white;

	@media screen and (min-width: $media-lg) {
		padding: 2rem;
	}
}

.gridContainer {
	@extend .container;
	// background-color: white;
	// color: black;
	padding: 0;
}

.postContainer {
	@extend .container;
	padding: 0;
	// border: 1px solid white;
	// margin: 0 1rem;
}
