.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	@media screen and (min-width: $media-lg) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.post {
	// padding: 1rem;
	position: relative;

	img {
		max-height: 400px;
	}

	h2 {
		font-size: 1rem;
	}
	time {
		font-size: rem-calc(14px);
	}
	transition: 0.5s;
	transform: scale(calc(0.25 + (var(--shown, 1) * 0.75)));
}

.imageContainer {
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;

	.quote {
		opacity: 0;
		transition: 0.2s;
		position: absolute;
		background: $light-grey;
		height: 100%;
		width: 100%;

		color: black;
		text-align: center;

		display: flex;
		align-items: center;
		justify-content: center;

		padding: 1rem;

		z-index: 2;
	}

	.badge {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		z-index: 2;
		background: white;
		color: black;
		border: 2px solid black;
		border-radius: 0.5rem;
		font-weight: bold;
		font-size: rem-calc(14px);
		padding: 0rem 1rem;
	}

	@media screen and (min-width: $media-sm) {
		&:hover {
			.quote {
				opacity: 1;
			}
		}
	}
}
