.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	@media screen and (min-width: $media-lg) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.post {
	// padding: 1rem;
	position: relative;

	img {
		max-height: 400px;
	}
}

.imageContainer {
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;

	.quote {
		opacity: 0;
		transition: 0.2s;
		position: absolute;
		background: $light-grey;
		height: 100%;
		width: 100%;

		color: black;
		text-align: center;

		display: flex;
		align-items: center;
		justify-content: center;

		z-index: 2;
	}

	&:hover {
		.quote {
			opacity: 1;
		}
	}
}
