@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-BoldItalic.eot');
	src: local('Lab Grotesque Bold Italic'), local('LabGrotesque-BoldItalic'),
		url('../assets/LabGrotesque/LabGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-BoldItalic.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-Light.eot');
	src: local('Lab Grotesque Light'), local('LabGrotesque-Light'),
		url('../assets/LabGrotesque/LabGrotesque-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-Light.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-MediumItalic.eot');
	src: local('Lab Grotesque Medium Italic'), local('LabGrotesque-MediumItalic'),
		url('../assets/LabGrotesque/LabGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-MediumItalic.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-Regular.eot');
	src: local('Lab Grotesque Regular'), local('LabGrotesque-Regular'),
		url('../assets/LabGrotesque/LabGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-Regular.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-LightItalic.eot');
	src: local('Lab Grotesque Light Italic'), local('LabGrotesque-LightItalic'),
		url('../assets/LabGrotesque/LabGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-LightItalic.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-Italic.eot');
	src: local('Lab Grotesque Italic'), local('LabGrotesque-Italic'),
		url('../assets/LabGrotesque/LabGrotesque-Italic.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-Italic.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-Black.eot');
	src: local('Lab Grotesque Black'), local('LabGrotesque-Black'),
		url('../assets/LabGrotesque/LabGrotesque-Black.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-Black.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-Medium.eot');
	src: local('Lab Grotesque Medium'), local('LabGrotesque-Medium'),
		url('../assets/LabGrotesque/LabGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-Medium.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-BlackItalic.eot');
	src: local('Lab Grotesque Black Italic'), local('LabGrotesque-BlackItalic'),
		url('../assets/LabGrotesque/LabGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-BlackItalic.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Lab Grotesque';
	src: url('../assets/LabGrotesque/LabGrotesque-Bold.eot');
	src: local('Lab Grotesque Bold'), local('LabGrotesque-Bold'),
		url('../assets/LabGrotesque/LabGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/LabGrotesque/LabGrotesque-Bold.woff') format('woff'),
		url('../assets/LabGrotesque/LabGrotesque-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.sharedaddy {
	display: none;
}

.has-text-align-left {
	@apply text-left;
}

.has-text-align-center {
	@apply text-center;
}

.has-text-align-right {
	@apply text-right;
}

.has-large-font-size {
	@apply text-4xl;
}

.alignfull {
	@apply w-screen relative;

	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	right: 50%;
}

.wp-block-image img {
	@apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
	@apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
	@apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
	@apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
	@apply table-caption;

	caption-side: bottom;
}

.wp-block-image .alignleft {
	@apply float-left mr-4;
}
.wp-block-image .alignright {
	@apply float-right ml-4;
}
.wp-block-image .aligncenter {
	@apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
	@apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
	@apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
	@apply mr-4;
}

.wp-block-cover {
	@apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

	min-height: 430px;
}

.wp-block-verse {
	@apply font-sans;
}

.wp-block-media-text {
	@apply grid grid-cols-2 gap-4;
}
